.carousel {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  margin: auto;
  height: 700px;
  width: 100vw;
}

.carousel img {
  min-height: 500px;
  max-height: 700px;
}

.carousel p {
  background: rgba(0, 0, 0, 0.644);
  width: 1100px;
  text-align: justify;
  
}

.carousel h3 {
  text-shadow: 2px 4px 4px #000000;
}

.footer {
  display: flex;
  height: 280px;
}

.footer li, h2{
  color: white;
}



.nav a {
  color: white;
}

.dropdown-menu.show {
  background-color: black;
}