.footer {
  display: flex;
  height: 280px;
}

h1 {
  color: #fff;
  text-shadow: 2px 4px 4px #000000;
  display: flex;
  justify-content: center;
}

.videos-list ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

li {
  margin: 10px;
}

