.carousel {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  margin: auto;
  height: 700px;
  width: 100vw;
}

.carousel img {
  min-height: 500px;
  max-height: 700px;
}

.carousel p {
  background: rgba(0, 0, 0, 0.4);
  width: 1200px;
}

.footer {
  display: flex;
  height: 280px;
}